@font-face {
    font-family: "NK57 Monospace";
    src: url("../fonts/nk57-monospace-no-bk.otf");
}
:root {
    --pink: #c44b7d;
    --dark-banner-color: #212529;
    --dark-text-color: #e1e1e1;
    --dark-pink: #c93874;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.banner {
    position: absolute;
    margin:0;
    padding: 0;
    background-color: var(--dark-banner-color);
    color: var(--dark-text-color);
    background-image: url("imgs/main/banner_doodle.png");
    background-size: contain 50vh;
    background-repeat: repeat-y;
}
.banner > .text {
    text-align: center;
    margin: 7% 0 7% 0;
}
.text > .motto {
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 50px;
    font-family: "NK57 Monospace", 'Courier New', Courier, monospace;
}
.text > .motto > .highlight {
    color: var(--dark-pink);
    animation: text-highlight 1.2s linear infinite;
    font-size: 48px;
    font-weight: 500;
}
@keyframes text-highlight {
    0% {
        opacity: 0;
    }
    24% {
        opacity: 0;
    }
    26% {
        opacity: 1;
    }
    74% {
        opacity: 1;
    }
    76% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
.text > .motto span.colored {
    color: var(--pink);
    transition: all 0.5s ease-in-out;
    font-weight: 1500;
}
.text > .motto span.colored.white {
    color: var(--dark-text-color);
    font-weight: 800;
}
.text > p {
    font-size: 17px;
}
.text > p.description {
    font-size: 16px;
    font-weight: 100;
    line-height: 25px;
    padding: 0 calc(50% - 300px) 0 calc(50% - 300px);
    margin-bottom: 10px;
    font-style: oblique;
}
.text > p a {
    color: var(--dark-text-color);
    text-decoration: underline var(--pink) 2px;
    font-weight: 500;
    text-underline-offset: 5px;
    transition: all 0.25s ease-in-out;
    position: relative;
    top: 0;
}

.text > p a:hover {
    text-decoration: underline var(--dark-pink) 3px;
    text-underline-offset: 8px;
    top: -3px;
}

@media screen and (min-width:351px) and (max-width: 600px) {
    .text {
        padding: 30px 20px 25px 20px;
    }
    .text > .motto {
        font-size: 40px;
    }
    .text > .motto > .highlight {
        font-size: 43px;
    }
}
@media screen and (max-width:350px) {
    .text {
        padding: 30px 15px 25px 15px;
    }
    .text > .motto {
        font-size: 32px;
    }
    .text > .motto > .highlight {
        font-size: 35px;
    }
    .text > p.description {
        font-size: 15px;
        line-height: 22px;
    }
}