.md-loader {
    /* padding: 10px calc(50% - 400px) 50px calc(50% - 400px) !important; */
    display: block;
    font-family: "Roboto";
    line-height: 1.7;
    font-size: 1.1rem;
    width: 80%;
    transition: opacity 0.5s ease;
    margin: 0 auto;
}
.md-loader a {
    color: var(--light-text-color);
    -webkit-text-decoration-line: underline;
    -webkit-text-decoration-thickness: 2px;
    -webkit-text-decoration-color: var(--pink);
    -webkit-text-decoration-style: solid;
    text-decoration-line: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--pink);
    text-decoration-style: solid;
    text-underline-offset: 3px;
    transition: all 0.25s ease-out, color 0.5s ease;
    position: relative;
    top: 0;
    font-weight: 600;
}
.md-loader a:hover {
    top: -2px;
}
.dark .md-loader a {
    color: var(--dark-text-color);
}
.md-loader strong {
    font-weight: 600 !important;
}
.md-loader img {
    width: calc(100% - 20px);
    max-width: 600px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 0.2rem var(--light-text-color);
}
p:has(>img) {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    color: gray;
}
p:has(>img) > img {
    margin: 10px;
}
p:has(>img) a {
    color: gray !important;
    -webkit-text-decoration-line: underline !important;
    -webkit-text-decoration-thickness: 1px !important;
    -webkit-text-decoration-color: gray !important;
    -webkit-text-decoration-style: solid !important;
    text-decoration-line: underline !important;
    text-decoration-thickness: 1px !important;
    text-decoration-color: gray !important;
    text-decoration-style: solid !important;
    font-weight: 500;
}
p:has(>img) a {
    top:0px !important;
}
.md-loader :not(pre) > code {
    padding: 3px;
    background-color: var(--light-banner-color);
    border-radius: 3px;
    transition: all 0.5s ease;
    color: var(--light-text-color);
    font-size: 0.95rem;
}
.dark .md-loader :not(pre) > code {
    background-color: var(--dark-banner-color);
    color: var(--dark-text-color);
}
.dark .md-loader img {
    box-shadow: 0 0 0.2rem var(--dark-text-color);
}
.md-loader pre > code {
    display: block;
    text-wrap: wrap;
    margin: 0;
    border-radius: 5px;
    background-color: var(--dark-code-color);
    box-shadow: 0 0 0.2rem var(--light-text-color);
    font-size: 0.9rem;
}
.dark .md-loader pre > code {
    box-shadow: 0 0 0.2rem var(--dark-text-color);
}
.md-loader > md-block > pre {
    display: block;
    width: calc(100% - 20px);
    text-wrap: wrap;
    overflow-wrap: break-word;
    margin: 10px;
}
.hljs-punctuation {
    color: var(--dark-text-color) !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "NK57 Monospace SC";
    font-weight: 1000;
    border-bottom: 1.5px solid var(--light-text-color);
    padding-bottom: 5px;
}

/* Blockquote CSS */
p:has(tip, dyk, note) {
    border-left: 5px solid;
    border-radius: 10px;
    padding: 10px;
}
p:has(tip, dyk, note)::before {
    white-space: pre;
    font-weight: 900;
    font-family: "NK57 Monospace SC";
}
p:has(tip)::before {
    content: "💡 TIP!\A";
    color: var(--tip-border);
}
p:has(dyk)::before {
    content: "🧠 DID YOU KNOW?\A";
    color: var(--dyk-border);
}
p:has(note)::before {
    content: "✏️ NOTE:\A";
    color: var(--note-border);
}
p:has(tip) {
    background-color: var(--tip-bg);
    border-color: var(--tip-border);
}
p:has(dyk) {
    background-color: var(--dyk-bg);
    border-color: var(--dyk-border);
}
p:has(note) {
    background-color: var(--note-bg);
    border-color: var(--note-border);
}

@media screen and (max-width: 850px) {
    .md-loader{
        font-size: 1.2rem;
    }
    blockquote {
        margin: 10px;
    }
}
@media screen and (min-width: 2500px) {
    .md-loader{
        font-size: 1.5rem;
    }
}
